RewriteEngine On

# Évite de réécrire l'URL si le fichier ou dossier existe
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirige toutes les requêtes vers index.php
RewriteRule ^ index.php [QSA,L]